<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid text-white">
    
   
        <a class="nav-link"  href="#">Nome</a>
        <a class="nav-link" href="#">Telefone</a>
        <a class="nav-link" href="#">Origem</a>
        <a class="nav-link" href="#">Data de contato</a>
        <a class="nav-link" href="#">Observação</a>
        
     
  </div>
</nav>
</body>
</html>